In [5]:
import yfinance as yf
import pandas as pd

In [2]:
df_aapl = yf.download("AAPL", start="2021-01-01", end="2021-12-31")
df_aapl

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.164185,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.736404,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.402931,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,128.647949,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,129.758377,105158200
...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,174.288620,68356600
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.292877,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.264618,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.353607,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,176.186920,59773000

In [3]:
df_msft = yf.download("MSFT", start="2021-01-01", end="2021-12-31")
df_msft

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,222.529999,223.000000,214.809998,217.690002,211.996628,37130100
2021-01-05,217.259995,218.520004,215.699997,217.899994,212.201111,23823000
2021-01-06,212.169998,216.490005,211.940002,212.250000,206.698883,35930700
2021-01-07,214.039993,219.339996,213.710007,218.289993,212.580933,27694500
2021-01-08,218.679993,220.580002,217.029999,219.619995,213.876114,22956200
...,...,...,...,...,...,...
2021-12-23,332.750000,336.390015,332.730011,334.690002,328.668762,19617800
2021-12-27,335.459991,342.480011,335.429993,342.450012,336.289185,19947000
2021-12-28,343.149994,343.809998,340.320007,341.250000,335.110718,15661500
2021-12-29,341.299988,344.299988,339.679993,341.950012,335.798157,15042000
2021-12-30,341.910004,343.130005,338.820007,339.320007,333.215485,15994500

In [14]:
df_aapl_msft = pd.concat([df_aapl, df_msft], axis=1)

In [15]:
df_aapl_msft.to_csv('aapl_msft.csv')